@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url("@fontsource/inter/files/inter-latin-400-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url("@fontsource/inter/files/inter-latin-600-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url("@fontsource/inter/files/inter-latin-700-normal.woff2")
    format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-display: swap;
  font-weight: 800;
  src: url("@fontsource/inter/files/inter-latin-800-normal.woff2")
    format("woff2");
}

.shiki p {
  display: inline;
  margin: 0;
}
.sk-1 {
  color: var(--tw-prose-pre-bg);
}
.sk-2 {
  color: var(--tw-prose-pre-code);
}
.sk-3 {
  color: #81a1c1;
}
.sk-4 {
  color: #8fbcbb;
}
.sk-5 {
  color: #a3be8c;
}
.sk-6 {
  color: #ebcb8b;
}
.sk-7 {
  color: #8fbcbb;
}
.sk-8 {
  color: #88c0d0;
}
.sk-9 {
  color: #616e88;
}
.sk-10 {
  color: #ebcb8b;
}
.sk-11 {
  color: #b48ead;
}
.sk-12 {
  color: #bf616a;
}
.sk-13 {
  color: #5e81ac;
}
.sk-14 {
  color: #d08770;
}
.sk-i {
  font-style: italic;
}
.sk-b {
  font-weight: bold;
}
.sk-u {
  text-decoration: underline;
}

.prop-types table {
  font-size: 14px;
  border-collapse: separate;
  border-spacing: 0;
  empty-cells: show;
  width: 100%;
  border-bottom: 1px solid var(--gray-border);
  margin-bottom: 30px;
  margin-top: 10px;
  line-height: 1.75;
}

.prop-types thead {
  font-size: 12px;
  font-weight: 500;
  box-sizing: border-box;
  background: var(--main-bg-dark);
  text-transform: uppercase;
  white-space: nowrap;
}

.prop-types th,
.prop-types td {
  box-sizing: border-box;
  padding: 6px 12px;
  text-align: left;
}

.prop-types-title {
  font-weight: bold;
  font-size: 1.17em;
  visibility: visible;
}
